In [1]:
for i in range(0,11):
  product=7*i
  print("7 x",i,"=",product)

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [2]:
for i in range(0,11):
  product=9*i
  print("9 x",i,"=",product)

9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [3]:
a = input("Enter the number you want table of: ")
for i in range(0,11):
  product=int(a)*i
  print(a,"x",i,"=",product)

Enter the number you want table of: 2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [9]:
n = int(input("Enter a number: "))
sum_of_numbers = 0
for i in range(1, n + 1):
  sum_of_numbers += i

print("Sum of numbers from 1 to", n, "is:", sum_of_numbers)

Enter a number: 3
Sum of numbers from 1 to 3 is: 6