In [3]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("List after adding 200 and 300:", L)
L.remove(10)
L.remove(30)
print("List after removing 10 and 30:", L)
L.sort()
print("List sorted in ascending order:", L)
L.reverse()
print("List sorted in descending order:", L)

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest = max(scores)
highest_index = scores.index(highest)
print("Highest score: ",highest," Index: ",highest_index)
lowest = min(scores)
lowest_count = scores.count(lowest)
print("Lowest score: ",lowest, "Count: ",lowest)
reversed_scores_list= list(reversed(scores))
print("Reversed tuple as a list: ",reversed_scores_list)
specific_score = 76
if specific_score in scores:
    first_occurrence = scores.index(specific_score)
    print("Score ",specific_score," found at index: ",first_occurrence)
else:
    print("Score ",specific_score," not found in the tuple.")

Highest score:  92  Index:  5
Lowest score:  45 Count:  45
Reversed tuple as a list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Score  76  found at index:  2

In [1]:
import random
nums = [random.randint(100, 900) for _ in range(100)]
print(nums)
odds = [x for x in nums if x % 2 != 0]
print(odds,"\n",len(odds))
evens = [x for x in nums if x % 2 == 0]
print(evens,"\n",len(evens))
primes = [x for x in nums if all(x % i != 0 for i in range(2, int(x ** 0.5) + 1))]
print(primes,"\n",len(primes))

[525, 821, 877, 840, 335, 375, 366, 212, 276, 819, 336, 771, 610, 156, 420, 715, 150, 592, 634, 413, 677, 718, 235, 476, 506, 424, 491, 325, 508, 192, 520, 276, 354, 441, 683, 410, 458, 137, 680, 618, 700, 100, 739, 456, 117, 112, 143, 491, 333, 149, 100, 821, 679, 404, 517, 102, 249, 891, 792, 781, 622, 769, 146, 278, 847, 632, 731, 323, 708, 823, 662, 711, 603, 848, 350, 496, 323, 298, 207, 772, 739, 785, 717, 564, 396, 232, 377, 655, 160, 459, 340, 394, 607, 570, 401, 400, 387, 246, 619, 561]
[525, 821, 877, 335, 375, 819, 771, 715, 413, 677, 235, 491, 325, 441, 683, 137, 739, 117, 143, 491, 333, 149, 821, 679, 517, 249, 891, 781, 769, 847, 731, 323, 823, 711, 603, 323, 207, 739, 785, 717, 377, 655, 459, 607, 401, 387, 619, 561]
 48
[840, 366, 212, 276, 336, 610, 156, 420, 150, 592, 634, 718, 476, 506, 424, 508, 192, 520, 276, 354, 410, 458, 680, 618, 700, 100, 456, 112, 100, 404, 102, 792, 622, 146, 278, 632, 708, 662, 848, 350, 496, 298, 772, 564, 396, 232, 160, 340, 394, 570, 400, 246]
 52
[821, 877, 677, 491, 683, 137, 739, 491, 149, 821, 769, 823, 739, 607, 401, 619]
 16

In [6]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_scores = A | B
print(" Union:", union_scores)

intersection_scores = A & B
print("Intersection:", intersection_scores)

symmetric_difference_scores = A ^ B
print("Symmetric Difference:", symmetric_difference_scores)

subset = A <= B
superset = B >= A
print("Is A a subset of B?", subset)
print("Is B a superset of A?", superset)

X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print("Score ",X," removed from set A. Updated set A: ",A)
else:
    print("Score ",X," is not present in set A.")

 Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric Difference: {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter a score to remove from set A: 56
Score  56  removed from set A. Updated set A:  {34, 90, 78}

In [9]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
if "city" in sample_dict:
    sample_dict["location"] = sample_dict["city"]
    del sample_dict["city"]
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}